<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Password Keychain</title>
    <link src="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

        <script src="../../bower_components/nedb/browser-version/out/nedb.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>

    <script src="../../bower_components/jquery/dist/jquery.js"></script>


    <script src="../../db/db.js"></script>
    <script src="./main.view.js"></script>
</head>
<body>
    <h1>Password Keychain</h1>
    <div ng-controller="MainCtrl as vm">
        <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" ng-if="!vm.contacts">bamm</div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" ng-if="vm.contacts">
            <thead>
                <tr>
                    <th>Job name</th>
                    <th>Recruter name</th>
                    <th>Link of job description</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.contacts track by $index" class="item--{{$index}}">
                    <td>{{item.job_name}}</td>
                    <td>{{item.recruter || 'n/a'}}</td>
                    <td>
                        {{item.link || 'n/a'}}
                    </td>
                    <td>
                        <a href="#" copy-password="{{$index}}">copy</a>
                        <a href="#" remove-password="{{item}}">remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        angular
            .element(document)
            .ready(function() {
                angular.bootstrap(document.body, ['MainView']);
            });
    </script>
</body>
</html>
